<%= form_for(@micropost) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
		<%= f.text_area :content, placeholder: 'Compose new micropost...' %>
	</div>
	<%= f.submit 'Post', class: 'btn btn-large btn-primary disabled', id: 'post_submit' %>
	<div id="char_counter">140</div>
<% end %>